
html, body {
  /* Tell the browser to select the full height of the window */
  height: 100%
}

body {
  /* Remove any default margins */
  margin: 0;
}

.anyvolt-logo {
  /* Assign default heading font */
  font-family: 'Orbitron', 'sans-serif';
}

/* Class selector that targets all elements with the class name app-warpper */
.app-wrapper {
  background-color: rgb(13, 0, 70) !important;
  width: 100vw;
  min-height: 100vh;
}

.button-transparent {
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}

.page-heading {
  color: white 
}

.login-form {
  background-color: #868686;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 50px;
}

.login-form label{
  color: white
}