
html, body {
  /* Tell the browser to select the full height of the window */
  height: 100%
}

body {
  /* Remove any default margins */
  margin: 0;
}

.anyvolt-logo {
  /* Assign default heading font */
  font-family: 'Orbitron', 'sans-serif';
}

/* Class selector that targets all elements with the class name app-warpper */
.app-wrapper {
  background-color: rgb(13, 0, 70) !important;
  width: 100vw;
  min-height: 100vh;
}

.button-transparent {
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}

.page-heading {
  color: white 
}

.login-form {
  background-color: #868686;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 50px;
}

.login-form label{
  color: white
}

.orb-1 {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 200px;
  height: 200px;
  border-radius: 50%; /* Makes it a circle */
  background-color: #3b50a3; /* A base color for the orb */
  box-shadow: 0 0 100px 50px #3b50a3; /* This creates the glow */
}

.orb-2 {
  position: absolute;
  top: 70%;
  left: 80%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #6a1a7f; /* Another color */
  box-shadow: 0 0 80px 40px #6a1a7f;
}

.white-line {
  border: 0;
  height: 3px; /* The thickness of the line */
  background-color: white;
  margin: 20px 0; /* Adds some space above and below the line */
}

.footer-link {
  color: white !important;
  text-decoration: none !important;
  font-size: 12px;
}

.footer-link:hover {
  text-decoration: underline;
}

.home-paragraph {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.home-paragraph-small {
  color: white;
  font-size: 16px;
  font-weight: 600;
}